@using MyBlog.Business.Concrete.DTOs
@model RegisterDto

<form asp-action="Register" method="post">
    <div asp-validation-summary="All">
    </div>
    <input placeholder="First Name" asp-for="@Model.FirstName" /> <br />
    <input placeholder="Last Name" asp-for="@Model.LastName" /> <br />
    <input placeholder="Phone Number" asp-for="@Model.PhoneNumber" /> <br />
    <input placeholder="User Name" asp-for="@Model.UserName" /> <br />
    <input placeholder="Email" asp-for="@Model.Email" /> <br />
    <input placeholder="Password" asp-for="@Model.Password" /> <br />
    <input placeholder="BirthDate" type="date" name="BirthDate" /> <br />

    <button>Üye Ol</button>


</form>
